@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceberg&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/ 
body {
  font-family: Poppins;
  background-color: #171718;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #171718;
  border-bottom: 1px solid #26292D;
  padding: 0 20px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.header .header__container .header__logo {
  color: white;
  font-size: 24px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header .header__container .header__logo:hover {
  -webkit-transform: scale(95%, 95%);
          transform: scale(95%, 95%);
}
@media (max-width: 1200px) {
  .header .header__container .header__logo {
    font-size: calc(16px + 8 * (100vw - 320px) / 880);
  }
}
.header .header__container .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
}
.header .header__container .header__nav .nav__link {
  font-size: 16px;
  color: white;
  padding-bottom: 5px;
  position: relative;
  overflow: hidden;
}
.header .header__container .header__nav .nav__link::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  height: 3px;
  background-color: #5C62EC;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.header .header__container .header__nav .nav__link:hover::after {
  width: 80px;
}
@media (max-width: 1200px) {
  .header .header__container .header__nav .nav__link {
    font-size: calc(12px + 4 * (100vw - 320px) / 880);
  }
}

.main {
  margin: 65px 0 0 0;
  padding: 50px 0;
  background-color: white;
}
.main .main__container .main__title {
  text-align: center;
  font-size: 60px;
  color: #5C62EC;
  margin: 0 0 30px 0;
}
.main .main__container .main__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  text-align: center;
}
.main .main__container .main__body .main__element img {
  width: 100px;
}
.main .main__container .main__body .main__element .main__element_title {
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0 0 0;
}

.footer .footer__container {
  max-width: 600px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__container .footer__media-item {
  color: white;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.footer .footer__container .footer__media-item:hover:not(:last-child) {
  -webkit-transform: scale(120%, 120%);
          transform: scale(120%, 120%);
}
.footer .footer__container .footer__media-item img {
  width: 35px;
}/*# sourceMappingURL=skills.css.map */